@charset "UTF-8";

.container{
	width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F6F5F0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
}

#app{
	margin:auto;
	margin-top:60px;
	width:60%;
	padding: 10px;
}

h1{
	text-align:center;
}


td{
	text-align:center;
}
